# OS icon files
.DS_Store
Thumbs.db

# Gemfile.lock
Gemfile.lock

# Gem vendor directory
/.vendor/

# Puppet pkg directory
/pkg/

# rspec-puppet fixture symlinks
/spec/fixtures/manifests
/spec/fixtures/modules
